<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fairy Tale Audio Tours</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.typekit.net/afd3nns.css">
    <link href="/stylesheets/materialize/css/materialize.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a20d05465c.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <div class="nav-wrapper l12 xl8">
            <a href="#" class="left"><span>SELF-GUIDED</br>AUDIO TOURS</span></a>
            <ul id="nav-mobile" class="right">
                <li class="home-link"><a href="/">
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 95.53 100.01">
                            <title>castle</title>
                            <rect x="10.01" y="70.35" width="69.78" height="6.55" />
                            <polygon
                                points="58.02 38.59 45.4 13.29 45.4 1.85 44.26 1.85 44.26 13.35 31.66 38.59 58.02 38.59" />
                            <path
                                d="M52.09,5.5a10.49,10.49,0,0,0,8-2.25,6.72,6.72,0,0,1-5.95-.57,7.59,7.59,0,0,0-5.93-.92V5.62l1-.15A8.77,8.77,0,0,1,52.09,5.5Z"
                                transform="translate(-2.23 0.01)" />
                            <path
                                d="M14.73,100H38.47V93.68a8.67,8.67,0,0,1,17.33,0V100H79.55L82,78.61H12.24ZM71.34,84.26h4.5v4.5h-4.5Zm-11.22,0h4.47v4.5H60.12Zm-30.69,0h4.5v4.5h-4.5Zm-11.28,0h4.5v4.5h-4.5Z"
                                transform="translate(-2.23 0.01)" />
                            <path
                                d="M31.73,40.55v6h4l1.24,21.34h20.3l1.24-21.34h4v-6H59.72v2.09H56.93V40.55H54.17v2H51.34v-2h-2.8v2.09h-2.8V40.55h-2.8v2.09H40.15V40.55h-2.8v2.09H34.56V40.55ZM43.57,54.39A3.57,3.57,0,1,1,50.7,54a2.54,2.54,0,0,1,0,.39v5.28H43.57Z"
                                transform="translate(-2.23 0.01)" />
                            <polygon
                                points="78.43 52.2 71.65 38.63 71.65 32.49 71.04 32.49 71.04 38.66 64.27 52.2 78.43 52.2" />
                            <path
                                d="M76.24,34.44a5.65,5.65,0,0,0,4.32-1.21,3.62,3.62,0,0,1-3.19-.31,4.06,4.06,0,0,0-3.19-.49v2.08l.56-.08A4.72,4.72,0,0,1,76.24,34.44Z"
                                transform="translate(-2.23 0.01)" />
                            <path
                                d="M65.35,53.25v3.2h2.08l.67,11.46H79l.66-11.46h2.09v-3.2H80.37v1.11h-1.5V53.25h-1.5v1h-1.5v-1h-1.5v1.11H72.92V53.25H71.37v1.11h-1.5V53.25h-1.5v1.11h-1.5V53.25Zm6.35,7.43a1.92,1.92,0,0,1,3.84,0h0v2.86H71.7Z"
                                transform="translate(-2.23 0.01)" />
                            <polygon
                                points="17.95 32.58 17.95 38.75 11.18 52.3 25.33 52.3 18.55 38.72 18.55 32.58 17.95 32.58" />
                            <path
                                d="M23.15,34.53a5.59,5.59,0,0,0,4.31-1.2A3.57,3.57,0,0,1,24.28,33a4.11,4.11,0,0,0-3.19-.49v2.08l.56-.08A4.72,4.72,0,0,1,23.15,34.53Z"
                                transform="translate(-2.23 0.01)" />
                            <path
                                d="M15.05,68H25.94l.67-11.46h2.08v-3.2H27.28v1.12h-1.5V53.34h-1.5v1h-1.5v-1h-1.5v1.12H19.8V53.34H18.27v1.12H16.78V53.34H15.27v1.12H13.78V53.34H12.26v3.2h2.08Zm3.56-7.23a1.92,1.92,0,1,1,3.83,0V63.6H18.61Z"
                                transform="translate(-2.23 0.01)" />
                            <path
                                d="M32.67,24.05S9.63,14.26,18.15,7.9,41,.44,41,.44a29.13,29.13,0,0,0-14.29,1S15.3,4.37,13.42,9.76,21.28,21.35,32.67,24.05Z"
                                transform="translate(-2.23 0.01)" />
                            <path d="M58.81,29.71l1.45,2.86,10.36,6v-4c-2.66-1.15-8.26-3.42-8.26-3.42Z"
                                transform="translate(-2.23 0.01)" />
                            <path
                                d="M75.84,37.72l1.87,4.61S92.56,49.62,91.2,56.92A20.22,20.22,0,0,1,85.49,68S109.44,53.55,75.84,37.72Z"
                                transform="translate(-2.23 0.01)" />
                            <polygon
                                points="4.15 7.88 3.13 11.68 0 12.26 3.04 13.05 4.15 17.01 5.16 13.01 8.02 12.26 5.07 11.68 4.15 7.88" />
                            <polygon
                                points="92.58 72.86 91.67 69.06 90.65 72.86 87.52 73.44 90.56 74.24 91.67 78.2 92.68 74.2 95.53 73.44 92.58 72.86" />
                            <polygon
                                points="61.33 23.38 62.03 20.61 64.01 20.09 61.97 19.69 61.33 17.07 60.63 19.69 58.47 20.09 60.57 20.65 61.33 23.38" />
                        </svg>
                        Home</a></li>
                <li class="sign-out"><a href="/logout">
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 95.89 85.17">
                            <title>CinderellaCarriage</title>
                            <path
                                d="M95.25,44c-1.8-5.6-9-7-12.6-2.8-3.2,3.4-.8,9.6,3.4,9.4a4,4,0,0,0,3.8-2.4c1.4-3.6-2.6-6.2-4.4-4,2.4-1.8,5,1.2,3.6,3.6a3.37,3.37,0,0,1-3,1.4c-3.2-.2-4-4.8-2-6.6a4.74,4.74,0,0,1,6.7,0A4.79,4.79,0,0,1,92.05,45c1.2,6-3.4,7.8-10.4,11.8a6.74,6.74,0,0,0-2-.2,14.13,14.13,0,0,0-11.6,5.8h-.2c-6,2.2-14.2,3-20.2,3h0c17.6,0,32.6-11.2,32.6-25.8,0-11.8-10-21.6-23.6-24.8l2.8-7.2c.2,0,.6.2.8.2a2.28,2.28,0,0,0,2.4-2.14V5.6a2.27,2.27,0,0,0-2.34-2.2h-.06a2.4,2.4,0,0,0-2.4,2.2,1.83,1.83,0,0,0,.6,1.4l-4.4,3.6-4.8-5.2a.48.48,0,0,1,0-.69.42.42,0,0,1,.18-.11,2.19,2.19,0,0,0,1.2-2,2.81,2.81,0,0,0-5.6,0,2.19,2.19,0,0,0,1.2,2,.49.49,0,0,1,.31.62.54.54,0,0,1-.11.18l-5,5.2-4.4-3.2a1.83,1.83,0,0,0,.6-1.4A2.41,2.41,0,1,0,35,8.19h.21a1.19,1.19,0,0,0,.8-.2l2.8,7.2c-13.6,3-23.6,13-23.6,24.8,0,13.8,13.6,25,30.6,25.8a65.7,65.7,0,0,1-18.6-3.2A14.16,14.16,0,0,0,13.65,57h0c-3.8-2.2-5.8-3.4-7.2-4.4-2.2-1.6-3.4-4.2-3.4-5.4.2-2.6,1-5,3.8-5.6,3-.8,6.6,1.6,5.4,5.4a3.15,3.15,0,0,1-2.8,2.4,3,3,0,0,1-3.34-2.62A3.05,3.05,0,0,1,6.45,45a2.13,2.13,0,0,1,1.8-1.2,2.62,2.62,0,0,1,1.8.6,2.92,2.92,0,0,0-1.8-.8,3.09,3.09,0,0,0-2.2,1.2c-1.8,2.6.4,5.8,3.6,5.8a4.68,4.68,0,0,0,4.4-3.2c2-5-2.6-9.4-7.6-8.6A8.1,8.1,0,0,0,.05,46c-.6,5.8,3.8,9.4,8.8,12.6-12.8,7.4-7.4,26.6,7,26.6,9.4,0,16-9.2,14-17.4a72.92,72.92,0,0,0,18,2.4,78.14,78.14,0,0,0,18-2.4A14.27,14.27,0,1,0,94.05,71a14.09,14.09,0,0,0-7.4-12.4C88.65,57.2,98.45,52.2,95.25,44Zm-35.4-9a6,6,0,0,1,6-6,5.79,5.79,0,0,1,4.2,1.8,6.24,6.24,0,0,1,1.8,4.2v3.4h-12Zm-24,3.4H24.05V35a6,6,0,0,1,5.8-6,5.79,5.79,0,0,1,4.2,1.8,6.24,6.24,0,0,1,1.8,4.2Zm4.4-2.2a7.6,7.6,0,0,1,7.6-7.6A7.51,7.51,0,0,1,55.45,36V53.2H40.25ZM25.65,64c-3.4,2-1.6,1-8.6,5V59.2C19.65,59.2,23.05,60.8,25.65,64Zm-11-5v9.8l-8.6-5h0A13,13,0,0,1,14.65,59Zm-9.6,7,8.6,5-8.6,5h0C3.73,73,4.41,69.29,5.05,66Zm1.2,12h0l8.6-5v9.8h0A11.42,11.42,0,0,1,6.25,78Zm10.8,4.8h0V73l8.6,5h0A12.17,12.17,0,0,1,17.05,82.8Zm9.6-7h0l-8.6-5h0c8.4-5,7-4,8.6-5,.2.4.4.6.4,1C28.25,70.2,28.05,73.4,26.65,75.8Zm52-16.8v9.8c-7-4-5-3-8.6-5A12.92,12.92,0,0,1,78.65,59Zm-9.8,7,1,.6,7.4,4.4-8.6,5A13.12,13.12,0,0,1,68.85,66Zm1.2,12h0l8.6-5v9.8A11.79,11.79,0,0,1,70.05,78Zm10.8,4.8V73l8.6,5A11.79,11.79,0,0,1,80.85,82.8Zm9.8-7h0l-8.6-5,8.6-5a13.84,13.84,0,0,1,1,5A12.27,12.27,0,0,1,90.65,75.8ZM89.45,64h0l-8.6,5V59.2A11.15,11.15,0,0,1,89.45,64Z"
                                transform="translate(0 -0.03)" />
                        </svg>
                        Sign Out</a></li>
                <li class="profile-link"><a href="/profile">
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 56.25 85.91">
                            <title>noun_princess_2576759</title>
                            <g>
                                <path
                                    d="M35.61,19.78a23.34,23.34,0,0,0-9,18.46V66.45l14-5.05,0-5.65a17.24,17.24,0,0,1-7.85-14.38,1.16,1.16,0,0,1,0-.18A1.56,1.56,0,0,1,34.2,39.8h.2A17.08,17.08,0,0,0,43.34,36c-.28-.37-.6-.7-.86-1.1a1.56,1.56,0,0,1,1.35-2.43H44a1.6,1.6,0,0,1,1.11.72A17,17,0,0,0,46.6,35.1a1.39,1.39,0,0,1,.23.31,17.17,17.17,0,0,0,18.25,4.48h0a.89.89,0,0,1,.28-.07,1.62,1.62,0,0,1,.31,0h0l.13,0a1.57,1.57,0,0,1,1.33,1.54,17.15,17.15,0,0,1-7.82,14.34l0,5.69,14,5.05V38.25a23.34,23.34,0,0,0-9-18.46l-2.07,5.55a3.14,3.14,0,0,1-2.93,2H40.65a3.12,3.12,0,0,1-2.93-2Z"
                                    transform="translate(-21.87 -7.04)" />
                                <path
                                    d="M56.26,57.33a17,17,0,0,1-12.52,0l0,4.37c0,1.72-1.47,2.56-3.1,3.1L40,65c.72.83,1.69,1.88,2.82,3,2.38,2.25,5.46,4.26,7.13,4.26s4.76-2,7.13-4.26c1.14-1.08,2.1-2.13,2.84-3l-.58-.2c-1.63-.54-3.1-1.38-3.1-3.1ZM36.84,66.08l-5.59,1.86c-4.93,1.64-9.38,4.18-9.38,9.37V93H78.12V77.31c0-5.19-4.44-7.73-9.37-9.37l-5.59-1.86a42.7,42.7,0,0,1-3.88,4.17c-2.57,2.44-5.75,5.1-9.29,5.1s-6.7-2.66-9.27-5.1A42.7,42.7,0,0,1,36.84,66.08Z"
                                    transform="translate(-21.87 -7.04)" />
                                <path d="M35.94,11.73l4.68,12.5H59.37l4.69-12.5-7.81,3.13L50,7l-6.25,7.82Z"
                                    transform="translate(-21.87 -7.04)" />
                                <path
                                    d="M45.42,38.3a20.25,20.25,0,0,0,18.43,5.13,14,14,0,0,1-27.78-.78A20.29,20.29,0,0,0,45.42,38.3Z"
                                    transform="translate(-21.87 -7.04)" />
                            </g>
                        </svg>
                        Profile</a></li>
                <li class="create-link"><a href="/new">
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 93.1 86.85">
                            <title>noun_Magic Book_2276688</title>
                            <g>
                                <path
                                    d="M14.8,49.47a.78.78,0,0,0-.45,1,.8.8,0,0,0,.46.46,7.18,7.18,0,0,0,2.47.43,7,7,0,1,0,0-14,6.78,6.78,0,0,0-2.48.46.76.76,0,0,0-.45,1,.79.79,0,0,0,.45.46,5.48,5.48,0,0,1,3.54,5.09,5.32,5.32,0,0,1-.54,2.35A5.42,5.42,0,0,1,14.8,49.47Zm2.48-10.58a5.46,5.46,0,0,1,0,10.92,6.9,6.9,0,0,0,1.92-2.46,6.83,6.83,0,0,0,.68-3A7,7,0,0,0,17.28,38.89Z"
                                    transform="translate(-3.81 -8.84)" />
                                <path d="M15.45,57H39.6a1.57,1.57,0,0,0,0-3.13H15.45a1.57,1.57,0,0,0,0,3.13Z"
                                    transform="translate(-3.81 -8.84)" />
                                <path d="M15.45,63H39.6a1.56,1.56,0,0,0,0-3.12H15.45a1.56,1.56,0,0,0,0,3.12Z"
                                    transform="translate(-3.81 -8.84)" />
                                <path
                                    d="M41.16,67.47a1.56,1.56,0,0,0-1.56-1.56H15.45a1.56,1.56,0,1,0,0,3.12H39.6A1.56,1.56,0,0,0,41.16,67.47Z"
                                    transform="translate(-3.81 -8.84)" />
                                <path d="M49.36,57H65.7a1.57,1.57,0,0,0,0-3.13H49.36a1.57,1.57,0,0,0,0,3.13Z"
                                    transform="translate(-3.81 -8.84)" />
                                <path
                                    d="M49.21,63H67.8a1.58,1.58,0,0,0,1.41-1.72,1.57,1.57,0,0,0-1.41-1.4H49.21a1.57,1.57,0,0,0,0,3.12Z"
                                    transform="translate(-3.81 -8.84)" />
                                <path d="M49.36,69H62.54a1.56,1.56,0,0,0,0-3.12H49.36a1.56,1.56,0,0,0,0,3.12Z"
                                    transform="translate(-3.81 -8.84)" />
                                <path d="M49.36,51H61.43a1.57,1.57,0,0,0,0-3.13H49.36a1.57,1.57,0,0,0,0,3.13Z"
                                    transform="translate(-3.81 -8.84)" />
                                <path
                                    d="M12.66,17.88a4.35,4.35,0,0,1,3.77,4.78v.06a1.56,1.56,0,0,0,1.49,1.57H18a1.56,1.56,0,0,0,1.56-1.5,5,5,0,0,1,1.36-3.26,3.66,3.66,0,0,1,2.8-1.17,1.55,1.55,0,0,0,1.62-1.49h0V16.8a1.56,1.56,0,0,0-1.49-1.57,4.33,4.33,0,0,1-3.78-4.76V10.4a1.56,1.56,0,0,0-1.49-1.56,1.59,1.59,0,0,0-1.63,1.49,5,5,0,0,1-1.36,3.26,3.6,3.6,0,0,1-2.79,1.17,1.57,1.57,0,0,0-1.63,1.49v.07A1.56,1.56,0,0,0,12.66,17.88Zm5.15-2.1c.17-.17.33-.35.49-.54a7.36,7.36,0,0,0,1.19,1.37,7.22,7.22,0,0,0-.83.73,6.17,6.17,0,0,0-.48.54A7.75,7.75,0,0,0,17,16.51,7.12,7.12,0,0,0,17.81,15.78Z"
                                    transform="translate(-3.81 -8.84)" />
                                <path
                                    d="M95.41,37.65a4.93,4.93,0,0,1-4.3-5.42v-.06A1.56,1.56,0,0,0,88,32.1a5.59,5.59,0,0,1-1.54,3.69,4.21,4.21,0,0,1-3.2,1.33,1.58,1.58,0,0,0-1.63,1.5v.06a1.57,1.57,0,0,0,1.5,1.57,4.91,4.91,0,0,1,4.3,5.41v.07a1.57,1.57,0,0,0,1.5,1.56H89a1.57,1.57,0,0,0,1.57-1.5,5.54,5.54,0,0,1,1.54-3.69,4.19,4.19,0,0,1,3.19-1.33,1.57,1.57,0,0,0,1.63-1.49v-.07A1.56,1.56,0,0,0,95.41,37.65Zm-5.57,2.26a9.32,9.32,0,0,0-.65.76,8.29,8.29,0,0,0-1.55-1.79,8.09,8.09,0,0,0,1-.9,6.78,6.78,0,0,0,.66-.76A7.81,7.81,0,0,0,90.89,39,8.92,8.92,0,0,0,89.84,39.91Z"
                                    transform="translate(-3.81 -8.84)" />
                                <path
                                    d="M84.69,73.73V52a7.78,7.78,0,0,0-4.75-7.11V33.28A1.56,1.56,0,0,0,79.31,32a29.07,29.07,0,0,0-3.58-2.3,26.53,26.53,0,0,0-4.56-2,29.7,29.7,0,0,0-26.7,3.68A29.92,29.92,0,0,0,9.64,32,1.56,1.56,0,0,0,9,33.28V44.69A7.78,7.78,0,0,0,3.81,52V88a7.72,7.72,0,0,0,7.71,7.71H77a7.71,7.71,0,0,0,7-4.62,3.81,3.81,0,0,0,5.9-4.41ZM12.14,45.91V34.08a26.8,26.8,0,0,1,30.78,0V86.41a29.52,29.52,0,0,0-27.12-1.9,28.82,28.82,0,0,0-3.66,1.9ZM38.75,87.75H16.29a26.38,26.38,0,0,1,8.58-2.39l.47-.06,1,0,1.08-.05.45,0A26.54,26.54,0,0,1,38.75,87.75Zm4.33,4.81H11.52A4.58,4.58,0,0,1,6.94,88V52A4.63,4.63,0,0,1,9,48.15V89.34H9a1.51,1.51,0,0,0,1.48,1.55h0l.07,0h.06l.23,0H43.08ZM79.94,48.49A4.6,4.6,0,0,1,81.56,52V66l-1.62-4ZM46.05,38.78v-4.7a26.6,26.6,0,0,1,24.11-3.43,24.31,24.31,0,0,1,4.07,1.82,23.8,23.8,0,0,1,2.59,1.61V54.31l-8.5-21a3.82,3.82,0,0,0-5-2.08,3.87,3.87,0,0,0-2.07,2.06,3.76,3.76,0,0,0,0,2.89l5,12.42s0,.08,0,.13L76.81,74.62V86.41c-.59-.36-1.19-.7-1.79-1-.35-.18-.71-.34-1.06-.5s-.52-.26-.78-.37-.78-.32-1.17-.47-.47-.2-.72-.28c-.42-.16-.85-.28-1.27-.41l-.64-.2c-.43-.12-.87-.22-1.3-.31l-.65-.16c-.42-.09-.85-.15-1.27-.22l-.7-.12-1.23-.13-.75-.07c-.4,0-.8,0-1.2,0l-.78,0h0c-.43,0-.85,0-1.27,0l-.66,0c-.44,0-.88.08-1.32.13l-.65.07c-.44.05-.87.14-1.3.22-.22,0-.44.06-.66.11-.43.08-.86.19-1.29.31l-.65.15c-.43.12-.86.26-1.29.4l-.62.2c-.43.15-.85.32-1.27.49-.2.08-.41.15-.61.24-.47.2-1,.43-1.41.66-.14.07-.29.12-.43.2-.61.31-1.2.64-1.8,1a.74.74,0,0,0,0-.21V66.82q0-11.47-.15-22.95Zm24.5,8.6a.68.68,0,0,1-.42.58.75.75,0,0,1-.26,0,.5.5,0,0,1-.13,0,.35.35,0,0,1-.24-.1.33.33,0,0,1-.1-.06l-.08-.1a.6.6,0,0,1-.09-.13h0L64.15,35.05a.62.62,0,0,1,0-.5.68.68,0,0,1,.9-.37.67.67,0,0,1,.37.37L70.5,47.08h0a.53.53,0,0,1,0,.22A.31.31,0,0,1,70.55,47.38Zm2.16,40.39H50.16A26.41,26.41,0,0,1,72.71,87.77Zm8.85.21A4.58,4.58,0,0,1,77,92.56H46.2V90.89H78.29l.08,0a1.57,1.57,0,0,0,1.57-1.57v-7l1.62,4Zm5.47.39a.6.6,0,0,1-.35.35h0a.7.7,0,0,1-.53,0,.7.7,0,0,1-.36-.36L79.82,73.73,78,69.27,70.63,51.06a5.67,5.67,0,0,0,.67-.2h0a3.46,3.46,0,0,0,.6-.32L87,87.84A.7.7,0,0,1,87,88.37Z"
                                    transform="translate(-3.81 -8.84)" />
                            </g>
                        </svg>
                        Create New</a></li>
                <li class="browse-link"><a href="/stories">
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 97.02 100.04">
                            <title>noun_Magic Lamp_1994938</title>
                            <path d="M39,56.64H64.53s-1.25-7.86-13.41-7.86S39,56.64,39,56.64Z"
                                transform="translate(-1.49)" />
                            <path
                                d="M51.7,34.85l-4.16,4.72A16.23,16.23,0,0,1,51.05,44c-2.6.45-2.6,3.52-2.6,3.52a17.56,17.56,0,0,1,6.7,0S55,44.51,52.39,44A24.3,24.3,0,0,1,56,39.58l-4.16-4.72Z"
                                transform="translate(-1.49)" />
                            <path
                                d="M96.32,44.39c-5.38-10-18-7.3-21.88-4.28-3.12,2.48-6.25,8.21-3.81,12.6s8.18,6.43,11.67,5.62c4.07-1,8.55-5.21,6.41-9.53-2.72-5.49-9.53-3.12-10,0a2.51,2.51,0,0,0,1.72,3.12,2.45,2.45,0,0,0,1,.09,2.37,2.37,0,0,0,2-2.7v0c0-.33.08-.32.37-.51,1.21-.78,4.34,2.95-.44,5.63-5.36,3-12.72-4.17-6.48-10.14,7.15-6.91,17.7.34,17.15,7.74s-6.11,10.21-10.6,10.59a58.53,58.53,0,0,0-7.9,1c-3.79-3-10.21-5.31-10.21-5.31H37.63c-3.93.94-9,4.84-13.86,1.86-3.22-2-7.46-4.55-9.95-6a5.54,5.54,0,0,0-3.8-.78A17.27,17.27,0,0,1,3.38,53a1,1,0,0,0-.77.13l-.69.47a1,1,0,0,0-.27,1.33.92.92,0,0,0,.62.41c4.95,1,10.41,4.85,10.41,4.85,13.64,7.17,21,22.91,38.44,22.91,17.2,0,24.45-9.46,26.73-14.31,4.47-1,8.33-.82,13.09-3.67C96.14,62,101.69,54.37,96.32,44.39Z"
                                transform="translate(-1.49)" />
                            <path
                                d="M7.77,51.72C9,50.51,10.89,38.77,18.34,37.35S36.46,41.67,46,30.41s-2.5-18.89-2.5-18.89,7.72,7.09,2.09,15.8a16.24,16.24,0,0,1-9.6,6.78,32.58,32.58,0,0,1-11.72.76c-6.18-.64-10.2.8-12.95,4.36,2.27-3.74,5.43-6.25,10-6,9.27.52,13.34-.18,13.34-.18C49.2,28.83,46,17.05,46,17.05c-.28,10-5.09,12.66-11,13.36s-15.33-2-21.31,3.46c-7,6.39-6.94,17.85-6.94,17.85S6.56,52.94,7.77,51.72Z"
                                transform="translate(-1.49)" />
                            <path
                                d="M31.33,12.91c8.49,4.16,12.79,3.54,12.11,10.57,0,0,3.13-7.45-2.58-9.45S31,8,39,7.08,45.84,2,44.31.08c0,0,1.58,3.29-2.41,4s-5.72-.86-10.57.52C31.33,4.58,22.84,8.74,31.33,12.91Z"
                                transform="translate(-1.49)" />
                            <polygon
                                points="12.83 22.16 13.95 17.7 17.14 16.85 13.85 16.21 12.83 11.97 11.69 16.21 8.2 16.85 11.59 17.74 12.83 22.16" />
                            <polygon
                                points="63.74 30.13 64.52 27.04 66.72 26.47 64.45 26.02 63.74 23.09 62.96 26.02 60.54 26.47 62.89 27.08 63.74 30.13" />
                            <polygon
                                points="51.33 7.03 52.11 3.96 54.3 3.38 52.03 2.93 51.33 0 50.54 2.93 48.13 3.38 50.47 3.99 51.33 7.03" />
                            <path
                                d="M60.53,92.42a43.38,43.38,0,0,0-5.32-.75,4,4,0,0,1-.33-2.75,5.26,5.26,0,0,0,3.84-2.84l.7-2.08c-8.78,1.84-13.54,0-13.54,0l.7,2.2S47,88.43,50.45,89a3.86,3.86,0,0,1-.28,2.63,42.54,42.54,0,0,0-5.26.8,9.72,9.72,0,0,0-5.73,4.31,1.56,1.56,0,0,0,.43,2.15,1.47,1.47,0,0,0,.56.24,78.86,78.86,0,0,0,12.09.87h.93a78.86,78.86,0,0,0,12.09-.87,1.57,1.57,0,0,0,1.22-1.83,1.62,1.62,0,0,0-.23-.56A9.71,9.71,0,0,0,60.53,92.42Z"
                                transform="translate(-1.49)" />
                        </svg>
                        Browse Stories</a></li>
            </ul>
        </div>
    </nav>
    {{{body}}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {{{ _sections.script }}}
    <footer>
        <div class="footer-text">© 2020 Fairytale Audio Tours</div>
    </footer>
</body>

</html>