body {
  background-color: #155F80;
  background-image: linear-gradient(to bottom, #3E136B 400px, #155F80);
  background-repeat: no-repeat;
}
.block{
  background: white;
  margin: 30px;
  padding: 50px;
}
nav {
  background: transparent;
  box-shadow: none;
  line-height: 18px;
  padding: 15px 30px;
  height: 60px;
}
footer {
  color: white;
  padding: 0px 30px 10px;
}
div.fullwidth-header{
  background-image: url(../images/FairytaleTours-HeaderImage.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -60px;
  min-height: 400px;
  width: 100%;
}
.relative{
  position: relative;
  z-index: -1;
}
.absolute{
  position: absolute;
}
h1{
  bottom: 0px;
  padding: 0px 30px;
  color: white;
  font-family: tangier, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
}
input, select, textarea {
  border: 1px solid #dfdfdf!important;
  border-radius: 5px!important;
  background-color: #F5FDFF!important;
  padding: 10px!important;
  box-sizing: border-box!important;
}
input, select{
  height: 40px!important;
}
textarea{
  height: 120px;
}
input, select, textarea {
  border: 1px solid #dfdfdf!important;
  border-radius: 5px!important;
  background-color: #F5FDFF!important;
  padding: 10px!important;
  box-sizing: border-box!important;
}
input, select{
  height: 40px!important;
}
textarea{
  height: 120px;
}
h2{
  font-size: 18px;
  text-transform: uppercase;
  color: gray;
}
.block {
  padding: 3%;
}
button.btn-large{
  position: relative;
  border-radius: 5px!important;
  margin: 10px;
  padding-left: 60px!important;
  line-height: 14px;
}
button.fairy-button{
  background: #155F80!important;;
}
.fairy-button svg{
  position: absolute;
  width: 35px;
  fill: #fff;
  left: 15px;
  top: 5px;
}
.home-link svg{
  fill: #fff;
  width: 50px;
  margin-bottom: -15px;
}
.home-link{
  text-transform: uppercase;
}
div.nav-custom{
  text-align: left;
  display: flex;
  width: 145px;
  justify-content: flex-end;
  float: right;
}
ul#nav-custom li{
  height: 60px;
}
nav{
  width: 100%;
}

button#next-chapter {
  display: block;
  margin: 20px auto;
  position: relative;
  width: 75px;
  height: 75px;
  background-color: #fff;
  border: 1px solid #15804B;
  border-radius: 50%;
  color: #15804B;
  box-sizing: border-box;
  line-height: 11px;
  font-size: 11px;
  text-transform: uppercase;
  transition-duration: 1s;
}
button#next-chapter:after{
content:'';
background-color: #15804B;
display: block;
width: 80px;
height: 1px;
position: absolute;
right:-90px; 
top: 34px;
}

button#next-chapter:before{
content:'';
background-color: #15804B;
display: block;
width: 80px;
height: 1px;
position: absolute;
left:-90px; 
top: 34px;
}

label[for=chapter-audio], label[for=story-image] {
width: 180px;
font-size: 14px;
color: #fff;
padding: 10px;
display: block;
background-color: #15804B;
position: relative;
border-radius: 5px!important;
padding-right: 50px!important;
text-align: right;
line-height: 18px;
text-transform: uppercase;
height: 54px;
margin-bottom: 20px;
}

input[type=file] {
position: absolute;
left: 10;
top: 0;
height: 54px!important;
width: 180px;
opacity: 0!important;
}

h3{
color: #155F80;
font-size: 24px;
}

textarea#story-text {
margin-bottom: 20px;
}

.form-group {
position: relative;
}

label[for=story-image]:after, label[for=chapter-audio]:after{
  display: block;
  color: #fff;
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  position: absolute;  
}
label[for=chapter-audio]:after{
  content:'\f130';
  font-size: 30px;
  right: 14;
  top: 18;
}
label[for=story-image]:after{
  content:'\f093';
  font-size: 24px;
  right: 12;
  top: 15;
}
button#next-chapter:hover {
  background-color: #15804B;
  border: 1px solid grey;
  color: #fff;
}